<div class="row py-4">
    <div class="col-12 col-sm-9 col-md-7 col-lg-5 mx-auto bg-white border border-light shadow-sm p-4">
        <app-filters-data-tables [groups]="groupsList" [selectedGroup]="selectedGroup$ | async"
                                 (search)="onSearch($event)"></app-filters-data-tables>
    </div>
    <div *ngIf="!loading" class="col-12 col-lg-10 mx-auto mt-5 bg-white border border-light shadow-sm p-4">
        <ngb-tabset [destroyOnHide]="true">
            <ngb-tab>
                <ng-template ngbTabTitle>
                    <span class="font-weight-bold">Casi positivi COVID</span>
                </ng-template>
                <ng-template ngbTabContent>
                    <div class="p-3">
                        <app-positive-data-table [positiveList]="positiveList$ | async"
                                                 [loading]="loading"></app-positive-data-table>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab>
                <ng-template ngbTabTitle>
                    <span class="font-weight-bold">Casi di sorveglianza attiva dovuti a COVID</span>
                </ng-template>
                <ng-template ngbTabContent>
                    <div class="p-3">
                        <app-suspect-data-table [suspectList]="suspectList$ | async"
                                                [loading]="loading"></app-suspect-data-table>
                    </div>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>
