<div class="row">
    <div class="col-12" style="display:flex; justify-content: center; align-items: center">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">Assenza casi positivi o sospetti</h5>
            </div>
            <div class="card-body">
                <p class="card-text">Premendo il tasto, si conferma l'assenza di nuovi casi da
                    segnalare</p>
                <button (click)="keepAliveButton.emit()" class="btn btn-primary">Conferma Zero</button>
            </div>
        </div>
    </div>
</div>
