<div class="row">
    <div class="col-10 offset-1">
        <div class="card">
            <div class="card-body">
                <p class="card-text">E' importante avere una costante consapevolezza sull'avvenuto aggiornamento dei dati da parte della Tua sede. Per questo, se non hai aggiornamenti ai dati già comunicati, dichiaracelo comunque facendo click periodicamente sul tasto di sotto. Questo ci consentirà di sapere che la Tua sede è comunque attiva nel tracciamento continuo delle informazioni.</p>
                <button (click)="keepAliveButton.emit()" class="btn btn-primary">Non ho ulteriori aggiornamenti</button>
            </div>
        </div>
    </div>
</div>
