<div class="row py-4" style="min-height:90vh">
    <div class="col-12 col-sm-10 col-md-8 col-lg-7 col-xl-6 mx-auto bg-white">
        <div class="row shadow-sm py-4">
            <div class="col-12 mb-2">
                <div class="row">
                    <div class="col-12 col-lg-6 mx-auto text-center">
                        <button type="button" class="btn btn-block btn-lg btn-danger" (click)="locationBack()">
                            <ng-template [ngIf]="!editMode">
                                <i class="fa fa-arrow-left mr-1"></i>
                                Indietro
                            </ng-template>
                            <ng-template [ngIf]="editMode">
                                <i class="fa fa-close mr-1"></i>
                                Annulla Modifica
                            </ng-template>
                        </button>
                    </div>
                    <div class="offset-11 my-2"></div>
                    <div *ngIf="!detailMode" class="col-12 col-lg-6 mx-auto text-center">
                        <button type="button" class="btn btn-block btn-lg btn-primary" (click)="onSubmit()"
                                [disabled]="!this.positivoForm.valid || saving">
                            <ng-template [ngIf]="!editMode">
                                <i class="fa fa-save mr-1"></i>
                                Salva Scheda
                            </ng-template>
                            <ng-template [ngIf]="editMode">
                                <i class="fa fa-save mr-1"></i>
                                Salva Modifiche
                            </ng-template>
                        </button>
                    </div>
                    <div class="offset-11 my-2"></div>
                    <div *ngIf="!detailMode && editMode" class="col-12 col-lg-6 mx-auto text-center">
                        <button type="button" class="btn btn-block btn-lg btn-outline-primary" (click)="onSubmit(true)"
                                [disabled]="!this.positivoForm.valid || saving">
                            <i class="fa fa-retweet mr-1"></i>
                            Converti in Sorvegliato
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <hr class="mb-4">
            </div>
            <div class="col-12 text-center mb-4">
                <h1>{{(pageTitle$ | async) | titlecase}}</h1>
                <h4 class="text-primary" *ngIf="detailMode"> {{(gruppo)}}</h4>
            </div>
            <div class="col-12 col-sm-11 col-md-10 mx-auto">
                <form [formGroup]="positivoForm" ngxsForm="positivo.positivoForm">
                    <div class="px-4 py-3 bg-light rounded border border-light shadow-sm mb-4">
                        <h4>Numero Caso</h4>
                        <hr>
                        <div class="row">
                            <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                                <div class="form-group mb-1">
                                    <label for="caseNumber" class="d-none">Numero caso</label>
                                    <input id="caseNumber" class="form-control" type="number"
                                           formControlName="caseNumber"
                                           [ngClass]="{ 'is-invalid': submitted && f.caseNumber.errors }"/>
                                </div>
                            </div>
                            <div class="col-12">
                                <small id="caseNumberHelp" class="form-text text-muted">
                                    <i class="fa fa-exclamation-triangle mr-1"></i>
                                    Inserire un numero intero <span class="font-weight-bold">maggiore di zero</span>
                                </small>
                                <small id="caseNumberHelp2" class="form-text text-muted">
                                    <i class="fa fa-exclamation-triangle mr-1"></i>
                                    Se lasci questo campo vuoto, il numero verrà <span class="font-weight-bold">automaticamente assegnato</span>.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="px-4 py-3 bg-light rounded border border-light shadow-sm mb-4">
                        <h4>Dati relativi al singolo caso</h4>
                        <hr>
                        <div class="form-group">
                            <label for="name">
                                Nome
                                <span class="font-weight-bold text-danger">*</span>
                            </label>
                            <input id="name" class="form-control" type="text" formControlName="name"
                                   [ngClass]="{ 'is-invalid': submitted && f.name.errors }"/>
                        </div>
                        <div class="form-group">
                            <label for="surname">
                                Cognome
                                <span class="font-weight-bold text-danger">*</span>
                            </label>
                            <input id="surname" class="form-control" type="text" formControlName="surname"
                                   [ngClass]="{ 'is-invalid': submitted && f.surname.errors }"/>
                        </div>
                        <div class="form-group">
                            <label for="phone">
                                Numero Cellulare
                                <span class="font-weight-bold text-danger">*</span>
                            </label>
                            <input id="phone" class="form-control" type="text" formControlName="phone"
                                   [ngClass]="{ 'is-invalid': submitted && f.phone.errors }"/>
                        </div>
                        <div class="form-group">
                            <label for="email">
                                Email
                                <span class="font-weight-bold text-danger">*</span>
                            </label>
                            <input id="email" class="form-control" type="text" formControlName="email"
                                   [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
                        </div>
                        <div class="small">
                            <span class="font-weight-bold text-danger">* Campi Obbligatori</span>
                        </div>
                    </div>
                    <div class="px-4 py-3 bg-light rounded border border-light shadow-sm mb-4">
                        <h4>
                            Qualifica
                            <span class="font-weight-bold text-danger">*</span>
                        </h4>
                        <hr>
                        <div class="form-group">
                            <label for="role" class="d-none">Scegliere una delle seguenti voci</label>
                            <ng-select [items]="qualifiche$ | async"
                                       notFoundText="Nessuna qualifica trovata con i seguenti criteri di ricerca"
                                       [virtualScroll]="true"
                                       id="role"
                                       placeholder="Selezionare una qualifica"
                                       formControlName="role">
                            </ng-select>
                        </div>
                        <div class="small">
                            <span class="font-weight-bold text-danger">* Campi Obbligatori</span>
                        </div>
                    </div>
                    <div class="px-4 py-3 bg-light rounded border border-light shadow-sm mb-4">
                        <h4>Estremi Provvedimento ASL</h4>
                        <hr>
                        <div class="form-group">
                            <label for="estremiProvvedimentiASL" class="d-none"></label>
                            <input id="estremiProvvedimentiASL" class="form-control" type="text"
                                   formControlName="estremiProvvedimentiASL"
                                   [ngClass]=" {'is-invalid': submitted && f.estremiProvvedimentiASL.errors }"/>
                            <small id="estremiProvvedimentiASLHelp" class="form-text text-muted">
                                <i class="fa fa-exclamation-triangle mr-1"></i>
                                Inserire gli estremi del provvedimento ASL che dichiara la positività del soggetto
                                al COVID-19.
                            </small>
                        </div>
                    </div>
                    <div class="px-4 py-3 bg-light rounded border border-light shadow-sm mb-4">
                        <h4>
                            Data di conferma della positività
                            <span class="font-weight-bold text-danger">*</span>
                        </h4>
                        <hr>
                        <div class="row">
                            <div class="col-12 col-sm-10 col-md-8 col-lg-6">
                                <div class="input-group mb-1">
                                    <label for="diseaseConfirmDate" class="d-none">Data di conferma della
                                        positività</label>
                                    <input id="diseaseConfirmDate" class="form-control" placeholder="gg-mm-aaaa"
                                           name="diseaseConfirmDate" formControlName="diseaseConfirmDate"
                                           ngbDatepicker #diseaseConfirmDate="ngbDatepicker"
                                           (click)="diseaseConfirmDate.open()"
                                           (ngModelChange)="diseaseConfirmDate.close()"
                                           [ngClass]="{ 'is-invalid': submitted && f.diseaseConfirmDate.errors }">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary"
                                                (click)="diseaseConfirmDate.toggle()" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <small id="diseaseConfirmDateHelp" class="form-text text-muted">
                                    <i class="fa fa-exclamation-triangle mr-1"></i>
                                    E' la data in cui è stata certificata la <span class="font-weight-bold">positività del soggetto</span>.
                                </small>
                            </div>
                        </div>
                        <div class="small mt-2">
                            <span class="font-weight-bold text-danger">* Campi Obbligatori</span>
                        </div>
                    </div>
                    <div class="px-4 py-3 bg-light rounded border border-light shadow-sm mb-4">
                        <h4>
                            Sede di Isolamento
                            <span class="font-weight-bold text-danger">*</span>
                        </h4>
                        <hr>
                        <div class="form-check mb-2">
                            <div>
                                <input id="quarantinePlaceDomicilio"
                                       class="form-check-input"
                                       type="radio"
                                       name="quarantinePlace"
                                       value="HOME"
                                       formControlName="quarantinePlace"
                                       (ngModelChange)="onPatchQuarantinePlace($event)">
                                <label for="quarantinePlaceDomicilio" class="form-check-label">Domicilio</label>
                            </div>
                            <div>
                                <input id="quarantinePlaceStrutturaOspedaliera"
                                       class="form-check-input"
                                       type="radio"
                                       name="quarantinePlace"
                                       value="HOSP"
                                       formControlName="quarantinePlace"
                                       (ngModelChange)="onPatchQuarantinePlace($event)">
                                <label for="quarantinePlaceStrutturaOspedaliera" class="form-check-label">Struttura
                                    Ospedaliera</label>
                            </div>
                            <small *ngIf="submitted && f.quarantinePlace.errors">"Sede di Isolamento" è un campo
                                obbligatorio</small>
                        </div>
                        <div class="small">
                            <span class="font-weight-bold text-danger">* Campi Obbligatori</span>
                        </div>
                    </div>
                    <div *ngIf="f.quarantinePlace.value === 'HOSP'"
                         class="px-4 py-3 bg-light rounded border border-light shadow-sm mb-4">
                        <h4>
                            Terapia Intensiva
                            <span class="font-weight-bold text-danger">*</span>
                        </h4>
                        <hr>
                        <div class="form-check mb-2">
                            <div>
                                <input id="terapiaIntensivaSi"
                                       class="form-check-input"
                                       type="radio"
                                       name="intensiveTerapy"
                                       [value]="true"
                                       formControlName="intensiveTerapy">
                                <label for="terapiaIntensivaSi" class="form-check-label">Si</label>
                            </div>
                            <div>
                                <input id="terapiaIntensivaNo"
                                       class="form-check-input"
                                       type="radio"
                                       name="intensiveTerapy"
                                       [value]="false"
                                       formControlName="intensiveTerapy">
                                <label for="terapiaIntensivaNo" class="form-check-label">No</label>
                            </div>
                            <small *ngIf="submitted && f.intensiveTerapy.errors">"Terapia Intensiva" è un campo
                                obbligatorio</small>
                        </div>
                        <div class="small">
                            <span class="font-weight-bold text-danger">* Campi Obbligatori</span>
                        </div>
                    </div>
                    <div class="px-4 py-3 bg-light rounded border border-light shadow-sm mb-4">
                        <h4>Data Presunta di ripresa del servizio</h4>
                        <hr>
                        <div class="row">
                            <div class="col-12 col-sm-10 col-md-8 col-lg-6">
                                <div class="input-group">
                                    <label for="expectedWorkReturnDate" class="d-none">Data Presunta Ripresa
                                        Servizio</label>
                                    <input id="expectedWorkReturnDate" class="form-control" placeholder="gg-mm-aaaa"
                                           name="expectedWorkReturnDate" formControlName="expectedWorkReturnDate"
                                           ngbDatepicker #expectedWorkReturnDate="ngbDatepicker"
                                           (click)="expectedWorkReturnDate.open()"
                                           (ngModelChange)="expectedWorkReturnDate.close()"
                                           [ngClass]="{ 'is-invalid': submitted && f.expectedWorkReturnDate.errors }">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary"
                                                (click)="expectedWorkReturnDate.toggle()" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="px-4 py-3 bg-light rounded border border-light shadow-sm mb-4">
                        <h4>Data Effettiva di ripresa del servizio</h4>
                        <hr>
                        <div class="row">
                            <div class="col-12 col-sm-10 col-md-8 col-lg-6">
                                <div class="input-group">
                                    <label for="actualWorkReturnDate" class="d-none">Data Effettiva Ripresa
                                        Servizio</label>
                                    <input id="actualWorkReturnDate" class="form-control" placeholder="gg-mm-aaaa"
                                           name="actualWorkReturnDate" formControlName="actualWorkReturnDate"
                                           ngbDatepicker #actualWorkReturnDate="ngbDatepicker"
                                           (click)="actualWorkReturnDate.open()"
                                           (ngModelChange)="actualWorkReturnDate.close()"
                                           [ngClass]="{ 'is-invalid': submitted && f.actualWorkReturnDate.errors }">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary"
                                                (click)="actualWorkReturnDate.toggle()" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ng-container *ngIf="detailMode || editMode">
                        <app-history-positive-case [historyCase]="historyCase"></app-history-positive-case>
                    </ng-container>
                </form>
            </div>
            <div class="col-12">
                <hr class="mb-4">
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-lg-6 mx-auto text-center">
                        <button type="button" class="btn btn-block btn-lg btn-danger" (click)="locationBack()">
                            <ng-template [ngIf]="!editMode">
                                <i class="fa fa-arrow-left mr-1"></i>
                                Indietro
                            </ng-template>
                            <ng-template [ngIf]="editMode">
                                <i class="fa fa-close mr-1"></i>
                                Annulla Modifica
                            </ng-template>
                        </button>
                    </div>
                    <div class="offset-11 my-2"></div>
                    <div  *ngIf="!detailMode" class="col-12 col-lg-6 mx-auto text-center">
                        <button type="button" class="btn btn-block btn-lg btn-primary" (click)="onSubmit()"
                                [disabled]="!this.positivoForm.valid || saving">
                            <ng-template [ngIf]="!editMode">
                                <i class="fa fa-save mr-1"></i>
                                Salva Scheda
                            </ng-template>
                            <ng-template [ngIf]="editMode">
                                <i class="fa fa-save mr-1"></i>
                                Salva Modifiche
                            </ng-template>
                        </button>
                    </div>
                    <div class="offset-11 my-2"></div>
                    <div *ngIf="!detailMode && editMode" class="col-12 col-lg-6 mx-auto text-center">
                        <button type="button" class="btn btn-block btn-lg btn-outline-primary" (click)="onSubmit(true)"
                                [disabled]="!this.positivoForm.valid || saving">
                            <i class="fa fa-retweet mr-1"></i>
                            Converti in Sorvegliato
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
