<div class="container-fluid bg-light">
    <div class="row py-4" style="min-height:100vh">
        <div class="col-12 col-sm-10 col-md-8 col-lg-7 col-xl-6 mx-auto bg-white">
            <div class="row shadow-sm py-4">
                <div class="col-12 text-center mb-4">
                    <h1>{{(pageTitle$ | async) | titlecase}}</h1>
                </div>
                <div class="col-12 col-sm-11 col-md-10 mx-auto">
                    <form [formGroup]="positivoForm" ngxsForm="formPositivo.positivoForm" (ngSubmit)="onSubmit()">
                        <div class="px-4 py-3 bg-light rounded border border-light shadow-sm mb-4">
                            <h4>
                                Codice Caso
                                <span class="font-weight-bold text-danger">*</span>
                            </h4>
                            <hr>
                            <div class="form-group">
                                <label for="caseNumber" class="d-none">Numero caso</label>
                                <input id="caseNumber" class="form-control" type="number" formControlName="caseNumber"/>
                                <small id="caseNumberHelp" class="form-text text-muted">
                                    <i class="fa fa-exclamation-triangle mr-1"></i>
                                    Inserire un numero intero <span class="font-weight-bold">maggiore di zero</span>
                                </small>
                            </div>
                            <div class="small">
                                <span class="font-weight-bold text-danger">* Campi Obbligatori</span>
                            </div>
                        </div>
                        <div class="px-4 py-3 bg-light rounded border border-light shadow-sm mb-4">
                            <h4>Dati relativi al singolo caso</h4>
                            <hr>
                            <div class="form-group">
                                <label for="name">
                                    Nome
                                    <span class="font-weight-bold text-danger">*</span>
                                </label>
                                <input id="name" class="form-control" type="text" formControlName="name"/>
                                <!-- <small id="nameHelp" class="form-text text-muted">-->
                                <!--     <i class="fa fa-exclamation-triangle mr-1"></i>-->
                                <!--     Inserire un numero intero <span class="font-weight-bold">maggiore di zero</span>-->
                                <!-- </small>-->
                            </div>
                            <div class="form-group">
                                <label for="surname">
                                    Cognome
                                    <span class="font-weight-bold text-danger">*</span>
                                </label>
                                <input id="surname" class="form-control" type="text" formControlName="surname"/>
                                <!-- <small id="surnameHelp" class="form-text text-muted">-->
                                <!--     <i class="fa fa-exclamation-triangle mr-1"></i>-->
                                <!--     Inserire un numero intero <span class="font-weight-bold">maggiore di zero</span>-->
                                <!-- </small>-->
                            </div>
                            <div class="form-group">
                                <label for="phone">
                                    Numero Cellulare
                                    <span class="font-weight-bold text-danger">*</span>
                                </label>
                                <input id="phone" class="form-control" type="number" formControlName="phone"/>
                                <!-- <small id="phoneHelp" class="form-text text-muted">-->
                                <!--     <i class="fa fa-exclamation-triangle mr-1"></i>-->
                                <!--     Inserire un numero intero <span class="font-weight-bold">maggiore di zero</span>-->
                                <!-- </small>-->
                            </div>
                            <div class="form-group">
                                <label for="email">
                                    Email
                                    <span class="font-weight-bold text-danger">*</span>
                                </label>
                                <input id="email" class="form-control" type="text" formControlName="email"/>
                                <!-- <small id="emailHelp" class="form-text text-muted">-->
                                <!--     <i class="fa fa-exclamation-triangle mr-1"></i>-->
                                <!--     Inserire un numero intero <span class="font-weight-bold">maggiore di zero</span>-->
                                <!-- </small>-->
                            </div>
                            <div class="small">
                                <span class="font-weight-bold text-danger">* Campi Obbligatori</span>
                            </div>
                        </div>
                        <div class="px-4 py-3 bg-light rounded border border-light shadow-sm mb-4">
                            <h4>
                                Qualifica
                                <span class="font-weight-bold text-danger">*</span>
                            </h4>
                            <hr>
                            <div class="form-group">
                                <label for="role" class="d-none">Scegliere una delle seguenti voci</label>
                                <ng-select [items]="qualifiche$ | async"
                                           id="role"
                                           placeholder="Selezionare una qualifica"
                                           formControlName="role">
                                </ng-select>
                            </div>
                            <div class="small">
                                <span class="font-weight-bold text-danger">* Campi Obbligatori</span>
                            </div>
                        </div>
                        <div class="px-4 py-3 bg-light rounded border border-light shadow-sm mb-4">
                            <h4>
                                Estremi Provvedimento ASL
                                <span class="font-weight-bold text-danger">*</span>
                            </h4>
                            <hr>
                            <div class="form-group">
                                <label for="estremiProvvedimentiASL" class="d-none"></label>
                                <input id="estremiProvvedimentiASL" class="form-control" type="string"
                                       formControlName="estremiProvvedimentiASL"/>
                                <small id="estremiProvvedimentiASLHelp" class="form-text text-muted">
                                    <i class="fa fa-exclamation-triangle mr-1"></i>
                                    Inserire gli estremi del provvedimento ASL che dichiara la positività del soggetto
                                    al COVID-19.
                                </small>
                            </div>
                            <div class="small">
                                <span class="font-weight-bold text-danger">* Campi Obbligatori</span>
                            </div>
                        </div>
                        <div class="px-4 py-3 bg-light rounded border border-light shadow-sm mb-4">
                            <h4>
                                Sede di Isolamento
                                <span class="font-weight-bold text-danger">*</span>
                            </h4>
                            <hr>
                            <div class="form-check mb-2">
                                <div>
                                    <input id="quarantinePlaceDomicilio"
                                           class="form-check-input"
                                           type="radio"
                                           name="quarantinePlace"
                                           value="Domicilio"
                                           formControlName="quarantinePlace">
                                    <label for="quarantinePlaceDomicilio" class="form-check-label">Domicilio</label>
                                </div>
                                <div>
                                    <input id="quarantinePlaceStrutturaOspedaliera"
                                           class="form-check-input"
                                           type="radio"
                                           name="quarantinePlace"
                                           value="Struttura Ospedaliera"
                                           formControlName="quarantinePlace">
                                    <label for="quarantinePlaceStrutturaOspedaliera" class="form-check-label">Struttura
                                        Ospedaliera</label>
                                </div>
                            </div>
                            <div class="small">
                                <span class="font-weight-bold text-danger">* Campi Obbligatori</span>
                            </div>
                        </div>
                        <div *ngIf="f.quarantinePlace.value === 'Struttura Ospedaliera'"
                             class="px-4 py-3 bg-light rounded border border-light shadow-sm mb-4">
                            <h4>
                                Terapia Intensiva
                                <span class="font-weight-bold text-danger">*</span>
                            </h4>
                            <hr>
                            <div class="form-check mb-2">
                                <div>
                                    <input id="terapiaIntensivaSi"
                                           class="form-check-input"
                                           type="radio"
                                           name="intensiveTerapy"
                                           value="Si"
                                           formControlName="intensiveTerapy">
                                    <label for="terapiaIntensivaSi" class="form-check-label">Si</label>
                                </div>
                                <div>
                                    <input id="terapiaIntensivaNo"
                                           class="form-check-input"
                                           type="radio"
                                           name="intensiveTerapy"
                                           value="No"
                                           formControlName="intensiveTerapy">
                                    <label for="terapiaIntensivaNo" class="form-check-label">No</label>
                                </div>
                            </div>
                            <div class="small">
                                <span class="font-weight-bold text-danger">* Campi Obbligatori</span>
                            </div>
                        </div>
                        <div class="px-4 py-3 bg-light rounded border border-light shadow-sm mb-4">
                            <h4>Data Presunta di ripresa del servizio</h4>
                            <hr>
                            <div class="input-group">
                                <label for="expectedWorkReturnDate" class="d-none">Data Ripresa Servizio</label>
                                <input id="expectedWorkReturnDate" class="form-control" placeholder="yyyy-mm-dd"
                                       name="expectedWorkReturnDate" formControlName="expectedWorkReturnDate"
                                       ngbDatepicker #expectedWorkReturnDate="ngbDatepicker">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary"
                                            (click)="expectedWorkReturnDate.toggle()" type="button">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-lg btn-primary w-50 mt-4"
                                    [disabled]="!(positivoFormValid$ | async)">
                                Invia Scheda
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
