<div class="container-fluid bg-light">
    <div class="row vh-100">
        <div class="col-12 col-sm-10 col-md-8 col-lg-7 col-xl-6 mx-auto bg-white py-3">
            <div class="text-center">
                <h2>{{pageTitle$ | async}}</h2>
            </div>
            <!--            <form [formGroup]="positivoForm"-->
            <!--                  ngxsForm="formPositivo.positivoForm"-->
            <!--                  (ngSubmit)="onSubmit()">-->
            <!--                <div class="form-group">-->
            <!--                    <label for="name">Nome</label>-->
            <!--                    <input id="name" class="form-control" type="text" formControlName="name"/>-->
            <!--                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone-->
            <!--                        else.</small>-->
            <!--                </div>-->

            <!--                <button type="submit" class="btn btn-lg btn-primary float-md-right">Invia Scheda</button>-->
            <!--            </form>-->
        </div>
    </div>
</div>
