<div class="row h-100">
    <div class="col-12" style="min-height:90vh; display:flex; justify-content: center; align-items: center">
        <div class="row" style="min-height:90vh; display: flex;justify-content: center; align-items: center">
            <div class="col-12 py-3 col-lg-6 p-lg-5">
                <app-search-positivo [loading]="loading" (search)="onSearchPositiveCase($event)"></app-search-positivo>
            </div>
            <div class="col-12 py-3 col-lg-6 p-lg-5">
                <app-search-assente [loading]="loading" (search)="onSearchSuspectCase($event)"></app-search-assente>
            </div>
        </div>
    </div>
</div>
