<div class="modal-header">
    <h4 class="modal-title" id="modal-title">Assenza casi</h4>
    <button type="button" class="close" (click)="modalClose('close')">
        <span>&times;</span>
    </button>
</div>
<div class="modal-body">
    <p>Sei sicuro di non avere ulteriori aggiornamenti?</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modalClose('dismiss')">Annulla</button>
    <button type="button" ngbAutofocus class="btn btn-outline-primary" (click)="modalClose('confirm')">Conferma</button>
</div>
