<div class="modal-header">
    <h2 class="font-weight-bold">
        <i class="fa fa-plus-circle text-success"></i>
        {{title}}
    </h2>
    <h6 *ngIf="exMsg">{{exMsg}}</h6>
</div>
<div class="modal-body py-4">
    <h4 class="text-center">Al caso è stato assegnato il numero:</h4>
    <div class="text-center display-3 font-weight-bold">
        {{caseNumber}}
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-lg btn-success" (click)="close()">
        <i class="fa fa-check"></i>
        Ok, chiudi!
    </button>
</div>
