<div class="row h-100">
    <div class="col-12" style="min-height:90vh; display:flex; justify-content: center; align-items: center">
        <div class="row" style="min-height:90vh; display: flex;justify-content: center; align-items: center">
            <div class="col mx-auto bg-white border border-light shadow-sm rounded pt-4 pb-5 px-5">
                <div class="w-75 mx-auto text-center my-3">
                    <img class="img-fluid" src="assets/img/logo_vvf_atb.png" alt="logo_vvf" width="300">
                </div>
                <form [formGroup]="resetForm" ngxsForm="reset.resetForm" (ngSubmit)="onSubmit()">
                    <ng-container *ngIf="!(successChange$ | async)">
                        <div class="form-group">
                            <label id="oldPassword">Password corrente<small class="text-muted"></small></label>
                            <input type="password" formControlName="oldPassword" class="form-control"
                                   placeholder="Password corrente"
                                   [ngClass]="{ 'is-invalid': submitted && f.oldPassword.errors }"/>
                            <div *ngIf="submitted && f['oldPassword'].errors" class="invalid-feedback">
                                <div *ngIf="f['oldPassword'].errors">Inserisci la password corrente</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label id="newPassword">Nuova password <small class="text-muted"></small></label>
                            <input type="password" formControlName="newPassword" class="form-control"
                                   placeholder="Nuova password"
                                   [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }"/>
                            <div *ngIf="submitted && f['newPassword'].errors" class="invalid-feedback">
                                <div *ngIf="f['newPassword'].errors">Inserisci la nuova password</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label id="newPasswordConfirm">Conferma nuova password <small
                                    class="text-muted"></small></label>
                            <input type="password" formControlName="newPasswordConfirm" class="form-control"
                                   placeholder="Conferma nuova password"
                                   [ngClass]="{ 'is-invalid': submitted && f.newPasswordConfirm.errors }"/>
                            <div *ngIf="submitted && f['newPasswordConfirm'].errors" class="invalid-feedback">
                                <div *ngIf="f['newPasswordConfirm'].errors && !f['newPasswordConfirm'].errors.mustMatch">Ripeti la nuova password</div>
                                <div *ngIf="f['newPasswordConfirm'].errors.mustMatch">Le password devono coincidere</div>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <button [disabled]="(loading$ | async)" class="btn btn-lg btn-primary mt-3">Cambia
                                Password
                            </button>
                            <img class="ml-3" *ngIf="(loading$ | async)"
                                 src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="successChange$ | async">
                        <div class="form-group text-center">
                            <div class="alert alert-success">Il cambio password è avvenuto con successo</div>
                            <button class="btn btn-lg btn-primary mt-3" (click)="onHome()">Torna alla home</button>
                        </div>
                    </ng-container>
                </form>
            </div>
        </div>
    </div>
</div>
