<table *ngIf="suspectList && suspectList.length > 0" class="table">
    <thead>
    <tr>
        <th scope="col">Gruppo</th>
        <th scope="col">Cognome</th>
        <th scope="col">Nome</th>
        <th scope="col">Qualifica</th>
        <th scope="col">Luogo Isolamento</th>
        <th scope="col">Data Effettiva Ripresa Servizio</th>
        <th scope="col">Data Presunta Ripresa Servizio</th>
        <th scope="col">Dettaglio</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let s of suspectList">
        <td>
            <ng-template [ngIf]="s.group">
                {{s.group}}
            </ng-template>
            <ng-template [ngIf]="!s.group">
                <span class="text-muted">Non presente</span>
            </ng-template>
        </td>
        <td>
            <ng-template [ngIf]="s.subject.cognome">
                {{s.subject.cognome}}
            </ng-template>
            <ng-template [ngIf]="!s.subject.cognome">
                <span class="text-muted">Non presente</span>
            </ng-template>
        </td>
        <td>
            <ng-template [ngIf]="s.subject.nome">
                {{s.subject.nome}}
            </ng-template>
            <ng-template [ngIf]="!s.subject.nome">
                <span class="text-muted">Non presente</span>
            </ng-template>
        </td>
        <td>
            <ng-template [ngIf]="s.subject.role">
                {{s.subject.role}}
            </ng-template>
            <ng-template [ngIf]="!s.subject.role">
                <span class="text-muted">Non presente</span>
            </ng-template>
        </td>
        <td>
            <ng-template [ngIf]="s.data.quarantinePlace">
                {{getLuogoIsolamento(s.data.quarantinePlace)}}
            </ng-template>
            <ng-template [ngIf]="!s.data.quarantinePlace">
                <span class="text-muted">Non presente</span>
            </ng-template>
        </td>
        <td>
            <ng-template [ngIf]="s.data.actualWorkReturnDate">
                {{s.data.actualWorkReturnDate | date: 'dd/MM/yyyy'}}
            </ng-template>
            <ng-template [ngIf]="!s.data.actualWorkReturnDate">
                <span class="text-muted">Non presente</span>
            </ng-template>
        </td>
        <td>
            <ng-template [ngIf]="s.data.expectedWorkReturnDate">
                {{s.data.expectedWorkReturnDate | date: 'dd/MM/yyyy'}}
            </ng-template>
            <ng-template [ngIf]="!s.data.expectedWorkReturnDate">
                <span class="text-muted">Non presente</span>
            </ng-template>
        </td>
        <td>
            <button class="btn btn-sm btn-primary" (click)="goToDetail(s.subject.number)">
                <i class="fa fa-file-text mr-1"></i>
                Vai alla scheda
            </button>
        </td>
    </tr>
    </tbody>
</table>
<div *ngIf="!loading && (!suspectList || suspectList.length <= 0)" class="alert alert-danger mt-3">
    Nessun Dato Disponibile
</div>
