<div class="row bg-white border border-light shadow-sm p-4">
    <div class="col-12 text-center">
        <h3 class="m-0">{{title}}</h3>
    </div>
    <div class="col-12 text-center">
        <div class="row pt-1">
            <div class="col-6">
                <span class="badge badge-light px-3 py-2">Casi totali: <span class="badge badge-info">{{totalSick}}</span></span>
            </div>
            <div class="col-6">
                <span class="badge badge-light px-3 py-2">Casi chiusi: <span class="badge badge-success">{{totalClosed}}</span></span>
            </div>
        </div>
    </div>
    <div class="col-12">
        <hr class="mt-3 mb-4">
    </div>
    <div class="col-12 col-md-10 mx-auto">
        <ng-content></ng-content>
    </div>
</div>
