<div class="row h-100">
    <div class="col-12" style="min-height:90vh; display:flex; justify-content: center; align-items: center">
        <div class="row" style="min-height:90vh; display: flex;justify-content: center; align-items: center">
            <div class="col text-center bg-white border border-light shadow-sm rounded p-5">
                <div class="p-5">
                    <h3>
                        {{title}}
                    </h3>
                    <h6>
                        {{text}}
                    </h6>
                </div>
                <div class="pb-4">
                    <ng-content></ng-content>
                </div>
            </div>
        </div>
    </div>
</div>
