<div class="container-fluid">
    <div class="row">
        <div class="col-12 min-vh-100" style="display:flex; justify-content: center; align-items: center">
            <div class="row min-vh-100" style="display: flex;justify-content: center; align-items: center">
                <div class="col text-center border border-light shadow-sm bg-light">
                    <div class="py-4">
                        <h3>
                            {{title}}
                        </h3>
                        <h6>
                            {{text}}
                        </h6>
                    </div>
                    <div class="py-4">
                        <ng-content></ng-content>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
